/*-- scss:defaults --*/


@import url(https://fonts.googleapis.com/css?family=Fira+Mono&display=swap);
@import url(https://fonts.googleapis.com/css?family=Figtree:400,700&display=swap);


// fonts
$font-family-sans-serif: Figtree, Helvetica, sans-serif !default;
$font-family-monospace: "Fira Mono", monospace;
$headings-font-family: Figtree, Helvetica, sans-serif !default;

//  Warwick colors 
$aubergine: #552D62;
$aubergine2: #886C91; //paler
$ruby: #9A1310;
$ruby2: #B85A58; //paler
$sky: #00407A;
$sky2: #4D79A2; //paler
$gray: #393A3B;
$gray2: #747576; //paler

$primary:       $aubergine !default;

/*-- scss:rules --*/

// color classes
.primary {
  color: $primary;
}

// code
pre.sourceCode {
  border-radius: 0;
  border-left-color: $gray-500;
}

h1, h2 {
  //text-transform: uppercase;
  font-weight: 700;
}

#quarto-header {
  //text-transform: uppercase;
  font-family: Figtree, Helvetica, sans-serif;
}

// iframes for slides embedded in talks pages
iframe.slide-deck {
  border: 3px solid $gray;
  width: 100%;
}

.ar4x3 {
  aspect-ratio: 4 / 3;  
}

.ar3x2 {
  aspect-ratio: 3 / 2;  
}

// icon-links
.icon-link {
    background-color: transparent;
    color: $primary;
    border: 2px solid !important;
    border-color: $primary;
    padding: 5px .4rem 5px .4rem !important;
    margin-top: 4px;
    margin-right: 8px;
    margin-bottom: 4px;
    border-radius: 5px; 
    display: inline-block;
    text-decoration: none;
}

.icon-link:hover{
    background-color: $primary;
    border-color: $primary;
    color: $body-bg;
    text-decoration: none;
}

