/*-- scss:defaults --*/


@import url(https://fonts.googleapis.com/css?family=Fira+Mono&display=swap);
@import url(https://fonts.googleapis.com/css?family=Figtree:400,600&display=swap);


// fonts
$font-family-sans-serif: Figtree, Helvetica, sans-serif !default;
$font-family-monospace: "Fira Mono", monospace;
$headings-font-family: Figtree, Helvetica, sans-serif !default;

//  Warwick colors 
$aubergine: #552D62;
$aubergine2: #886C91; //paler
$ruby: #9A1310;
$ruby2: #B85A58; //paler
$sky: #00407A;
$sky-80: #336695;
$sky2: #4D79A2; //paler (70)
$gray: #393A3B;
$gray2: #747576; //paler

$primary:       $aubergine !default;

$presentation-font-size-root: 36px;
$code-block-font-size: .55em;
$presentation-heading-font: Figtree, Helvetica, sans-serif !default;
//$presentation-heading-color: $ruby;
$link-color: $sky2;

/*-- scss:rules --*/

// color classes
.primary {
  color: $primary;
}

// code
pre.sourceCode {
  border-radius: 0;
  border-left-color: $gray;
}

kbd {
  border: 1px solid #aaa;
  border-radius: 4px;
  display: inline-block;
  padding: 5px 9px;
  background: linear-gradient(178deg, #fff, #fff, #fff, #ddd);
}

.middle {
  text-align: center;
}

#title-slide {
  text-align: left;
  margin: auto auto 50px auto;
}

#title-slide .title {
  font-size: 70px;
}

.reveal h2 {
  padding-bottom: 20px;
  color: $ruby;
}

.cell {
  padding-bottom: 20px;
}

.smaller75 {
  font-size: 75%;
}

.smaller70 {
  font-size: 70%;
}

.right {
  text-align: right;  
}

